body {
  background-color: #f0f0f0; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

textarea {
  width: 600px;
  height: 100px;
  margin-bottom: 8px;
  border-radius: 10px;
}

button {
  padding: 8px 16px;
  margin-bottom: 8px;
  color: white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.699);
}

p {
  font-size: 18px;
  color: black;
}
